body {
  background-color: rgb(232, 232, 193);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  border-width: 2px;
}

.card {
  background: rgb(227, 61, 61);
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: rgb(227, 61, 61);
}

.blockquote {
  line-height: 1cm;
}